# Spark 101 Exercises

In [16]:
import pandas as pd
import numpy as np
import pyspark
from pydataset import data
spark = pyspark.sql.SparkSession.builder.getOrCreate()

Create a jupyter notebook or python script named spark101 for this exercise.

1. Create a spark data frame that contains your favorite programming languages.

In [7]:
# The name of the column should be language
df = pd.DataFrame({"language": ["python", "java", "javascript", "sql", "ruby"]})

In [12]:
# View the schema of the dataframe
sp_df = spark.createDataFrame(df)
sp_df

DataFrame[language: string]

In [13]:
# Output the shape of the dataframe
sp_df.count()

5

In [15]:
# Show the first 5 records in the dataframe
sp_df.show(5)

+----------+
|  language|
+----------+
|    python|
|      java|
|javascript|
|       sql|
|      ruby|
+----------+

2. Load the mpg dataset as a spark dataframe.

    * Create 1 column of output that contains a message like the one below:

    `The 1999 audi a4 has a 4 cylinder engine.`

In [17]:
mpg = spark.createDataFrame(data("mpg"))

In [18]:
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

For each vehicle.

    * Transform the trans column so that it only contains either manual or auto.

3. Load the tips dataset as a spark dataframe.

    * What percentage of observations are smokers?
    * Create a column that contains the tip percentage
    * Calculate the average tip percentage for each combination of sex and smoker.

4. Use the seattle weather dataset referenced in the lesson to answer the questions below.

    * Convert the temperatures to farenheight.
    * Which month has the most rain, on average?
    * Which year was the windiest?
    * What is the most frequent type of weather in January?
    * What is the average high and low tempurature on sunny days in July in 2013 and 2014?
    * What percentage of days were rainy in q3 of 2015?
    * For each year, find what percentage of days it rained (had non-zero precipitation).